<div class="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm">
        <input type="email" formControlName="email" placeholder="Email" required="required"/>
        <input type="password" formControlName="password" placeholder="Password" required="required"/>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
    <div style="text-align: end;">
        <button
        class="btn-simple"
        (click)="register()"
        >
        Register
        </button>
    </div>
</div>